<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
      <% if @current_user && @current_user.admin? %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= form_with url: post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do |form| %>
          <%= form.submit 'Delete' %>
        <% end %>
      <% end %>
      <%= link_to 'show' , post_path(post)%>
    </li>
  <% end %>
</ul>

<% if @current_user && @current_user.admin? %>
  <%= link_to 'New Post', new_post_path %>
<% else %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
